<div class="my-modal">
</div>
<div class="modal-content appointment-content">
	<div class="panel-heading">
		<h3 class="panel-title">
			<% if (appointment.isNew()) { %>
				Create New Event
			<% } else { %>
				Update Event
			<% } %>
		</h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-inputs">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="appointment[email]" class="form-control input-sm" placeholder="Email" value="<%= appointment.escape('email') %>">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9">
						<div class="form-group">
							 <select class="form-control input-sm" name="appointment[countrycode]">
								 <% window.phoneCodes.forEach( function (phoneCode) { %>
									 <% if ( phoneCode[0] === appointment.get('country_code') ) { %>
										 <%= "<option value='" + phoneCode[0]+ "' selected>" + phoneCode[1] + "</option>" %>
									 <% } else { %>
										 <%= "<option value=" + phoneCode[0]+ ">" + phoneCode[1] + "</option>" %>
									 <% } %>
								 <% }) %>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="appointment[phone_number]" class="form-control input-sm" placeholder="Teléfono" value="<%= appointment.escape('phone_number') %>">
						</div>
					</div>
				</div>
						
				<div class="row">
					<div class="col-xs-6 col-sm-12 col-md-6">
						<div class="form-group">
							<input type="text" name="appointment[fname]" class="form-control input-sm" placeholder="Nombre" value="<%= appointment.escape('fname') %>">
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-6">
						<div class="form-group">
							<input type="text" name="appointment[lname]" class="form-control input-sm" placeholder="Apellido" value="<%= appointment.escape('lname') %>">
						</div>
					</div>
				</div>
						
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group appointment-title">
							<input type="text" name="appointment[title]" class="form-control input-sm" placeholder="Título" value="<%= appointment.escape('title') %>">
						</div>
					</div>
				</div>

			</div>

			<button type="button"
							id="submit-appointment-form"
							class="btn btn-sm btn-primary">
							<% if (appointment.get('appointment_status') === 'Cancelled' ) { %>
								Confirmar
							<% } else { %>
								Guardar
							<% } %>	
			</button>
			<button type="button"
							id="close-appointment-form"
							class="btn btn-sm btn-default">
							Cerrar
			</button>
			<% if (!appointment.isNew() && appointment.get('appointment_status') !== 'Cancelled') { %>
				<button type="button"
								id="cancel-appointment-form"
								class="btn btn-sm btn-danger right-button">
								Cancelar
				</button>
			<% } %>
			<% if (appointment.get('appointment_status') === 'Pending') { %>
				<button type="button"
								id="confirm-appointment-form"
								class="btn btn-sm btn-success right-button">
								Confirmar
				</button>
			<% } %>

		</form>
	</div>
</div> <!-- /.modal-content -->
