<h6 class="label-appointment-modal"><%= this.position %></h6>
<div class="col-xs-6 col-sm-6 col-md-6">
  <div class="form-group">
    <input class="form-control input-sm setDatepicker"
					 name="appointment[<%= this.position === 'Desde' ? 'startTimeDate' : 'endTimeDate' %>]"
					 value='<%= date.format("D/M/YYYY") %>'>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
  <div class="form-group">
    <input class="form-control input-sm setTimepicker"
					 name="appointment[<%= this.position === 'Desde' ? 'startTimeHour' : 'endTimeHour' %>]"
					 value='<%= date.format("HH:mm") %>'>
  </div>
</div>
