<div class="my-modal">
</div>
<div class="modal-content appointment-content">
	<div class="panel-heading">
		<h3 class="panel-title"><%= action.charAt(0).toUpperCase() + action.slice(1) + "?" %></h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-inputs">
				
				<!-- <div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="appointment[email]" class="form-control input-sm" placeholder="Email" value="<%= appointment.escape('email') %>">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9">
						<div class="form-group">
							 <select class="form-control input-sm" name="appointment[countrycode]">
								 <% window.phoneCodes.forEach( function (phoneCode) { %>
									 <% if ( phoneCode[0] === appointment.get('country_code') ) { %>
										 <%= "<option value='" + phoneCode[0]+ "' selected>" + phoneCode[1] + "</option>" %>
									 <% } else { %>
										 <%= "<option value=" + phoneCode[0]+ ">" + phoneCode[1] + "</option>" %>
									 <% } %>
								 <% }) %>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="appointment[phone_number]" class="form-control input-sm" placeholder="Teléfono" value="<%= appointment.escape('phone_number') %>">
						</div>
					</div>
				</div> -->
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="send-message"
											class="btn btn-primary btn-sm">
											Enviar Sms
							</button>
							<button type="button"
											id="send-email"
											class="btn btn-primary btn-sm right">
											Enviar Email
							</button>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="send-both"
											class="btn btn-primary btn-sm">
											Enviar ambos
							</button>
							<button type="button"
											id="send-not"
											class="btn btn-success btn-sm right">
											No enviar
							</button>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="close"
											class="btn btn-default btn-block">
											Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div> <!-- /.modal-content -->