<td class="tabledata-appointment-list"><%= appointment.fullName() %></td>
<td class="tabledata-appointment-list-date"><%= appointment.date() %></td>
<td class="tabledata-appointment-list"><%= appointment.time() %></td>
<td class="tabledata-appointment-list"><%= appointment.escape('title') %></td>
<td class="recent-appointment-status"><%= StatusSpanish[appointment.get('appointment_status')] %></td>
