
<div class="site_wrapper">
   

<!-- HEADER -->
<header id="header">

	<!-- Top header bar -->
	<div id="trueHeader">
    
	<div class="wrapper">
    
     <div class="container">
    
		<!-- Logo -->
		<div class="one_fourth"><a href="#" id="logo">assisster</a></div>
		
        <!-- Menu -->
        <div class="three_fourth last">
           
            <div id="top-nav" class="">
          
                <ul id="fixed-nav">
                        
                    <li class="current"><a href="#home">Home</a></li>
                    
                    <!-- <li><a href="#about">About US</a></li> -->
                    
                    <li><a href="#services">Servicios</a></li>
                     
                    <!-- <li><a href="#portfolio">Portfolio</a></li>   -->
                      
                    <li><a href="#contact">Contacto</a></li>
                            
                </ul>
            
        	</div><!-- end nav menu -->
            
        </div>
             
	</div>
		
	</div>
    
	</div>
    
</header><!-- end header -->
   

<div class="clearfix"></div>


<div id="home"> 

<!-- Slider
======================================= -->  

<div class="container_full">
    
    <div class="fullwidthbanner-container">
    
		<div class="fullwidthbanner">
        
						<ul>
                            <!-- SLIDE PROPIA WEB -->
                            <li data-transition="papercut" data-slotamount="9" data-thumb="http://placehold.it/1920x580">
                                
                                <img src="assets/img_home_template/slide-9.jpg" alt="" />

                                <div class="caption lft big_white" data-x="650" data-y="359" data-speed="900" data-start="700" data-easing="easeOutExpo">Con Assisster dispones de tu</div>
                                
                                <div class="caption lft large_text_two big_white" data-x="650" data-y="370" data-speed="900" data-start="1300" data-easing="easeOutExpo">PROPIA WEB</div>

                                <div class="caption lfb small_text"  data-x="650" data-y="440" data-speed="900" data-start="700" data-easing="easeOutExpo">Pruébalo tu mismo. Visita nuestro médico<br /><a href="http://www.randomdoctor.com" class="color-white">www.randomdoctor.com</a></div>
                                
                                <!-- <div class="caption sfb" data-x="0" data-y="90" data-speed="900" data-start="900" data-easing="easeOutSine"><div class="display_text_center"><img src="http://placehold.it/520x580" alt="" /></div></div> -->

                                <!-- <div class="caption lft big_white color-gray" data-x="0" data-y="130" data-speed="900" data-start="700" data-easing="easeOutExpo"><div class="display_text_center">Assister es</div></div> -->
                                
                            <!--    <div class="caption lft large_text_two"  data-x="0" data-y="185" data-speed="900" data-start="1300" data-easing="easeOutExpo"><div class="display_text_center">tan fácil como...</div></div> -->

                            <!-- SLIDE CITA ONLINE -->
							<li data-transition="fade" data-slotamount="9" data-thumb="http://placehold.it/1920x580">
								
                                <img src="assets/img_home_template/slide-10.jpg" alt="" />
                                
                                <!-- <div class="caption sfr" data-x="658" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="http://placehold.it/520x580" alt="" /></div> -->

                                <div class="caption lft big_white"  data-x="450" data-y="328" data-speed="900" data-start="700" data-easing="easeOutExpo">CON ASSISSTER TUS PACIENTES</div>
                                
								<div class="caption lft large_text_two"  data-x="450" data-y="349" data-speed="900" data-start="1300" data-easing="easeOutExpo">piden cita online</div>
                                
                                <!-- <div class="caption lfb h_line"  data-x="10" data-y="214" data-speed="900" data-start="2000" data-easing="easeOutExpo"></div> -->
                                
                                <!-- <div class="caption lfb small_text"  data-x="10" data-y="238" data-speed="900" data-start="2700" data-easing="easeOutExpo">Many desktop publishing packages and web page editors now use the lorem<br />Ipsum as their default model text, and a search for 'lorem ipsum will uncover<br />many web sites still in their infancy.</div> -->
                                
                               <!--  <div class="caption lfb h_line"  data-x="10" data-y="344" data-speed="900" data-start="3400" data-easing="easeOutExpo"></div> -->
                                
                                <!-- <div class="caption lfb"  data-x="10" data-y="378" data-speed="900" data-start="4000" data-easing="easeOutExpo"><a href="#" class="button_slider"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;get started</a></div>
                                
                                <div class="caption lfb"  data-x="228" data-y="378" data-speed="900" data-start="4500" data-easing="easeOutExpo"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Buy Now!</a></div> -->
                               
							</li>
                            
                            <!-- SLIDE RECORDATORIOS -->
							<li data-transition="slideleft" data-slotamount="9" data-thumb="http://placehold.it/1920x580">
								
                                <img src="assets/img_home_template/slide-5.jpg" alt="" />
                                
                               <!--  <div class="caption sfb" data-x="550" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="http://placehold.it/520x580" alt="" /></div> -->

                                <div class="caption lft big_white color-gray"  data-x="550" data-y="359" data-speed="900" data-start="700" data-easing="easeOutExpo">Tus pacientes reciben recordatorios</div>
                                
								<div class="caption lft large_text_two color-gray"  data-x="550" data-y="370" data-speed="900" data-start="1300" data-easing="easeOutExpo">AUTOMATICOS</div>
                                
                                <!-- <div class="caption lfb h_line"  data-x="10" data-y="214" data-speed="900" data-start="2000" data-easing="easeOutExpo"></div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="238" data-speed="900" data-start="2700" data-easing="easeOutExpo">Many desktop publishing packages and web page editors now use the lorem<br />Ipsum as their default model text, and a search for 'lorem ipsum will uncover<br />many web sites still in their infancy.</div>
                                
                                <div class="caption lfb h_line"  data-x="10" data-y="344" data-speed="900" data-start="3400" data-easing="easeOutExpo"></div>
                                
                                <div class="caption lfb"  data-x="10" data-y="378" data-speed="900" data-start="4000" data-easing="easeOutExpo"><a href="#" class="button_slider"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;get started</a></div>
                                
                                <div class="caption lfb"  data-x="228" data-y="378" data-speed="900" data-start="4500" data-easing="easeOutExpo"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Buy Now!</a></div> -->
                               
							</li>
                            
							

                            <!-- SLIDE SENCILLO -->
							<li data-transition="papercut" data-slotamount="9" data-thumb="http://placehold.it/1920x580">
								
                                <img src="assets/img_home_template/slide-8.gif" alt="" />
                                
                                <!-- <div class="caption sfb" data-x="0" data-y="90" data-speed="900" data-start="900" data-easing="easeOutSine"><div class="display_text_center"><img src="http://placehold.it/520x580" alt="" /></div></div> -->

                                <!-- <div class="caption lft big_white color-gray" data-x="0" data-y="130" data-speed="900" data-start="700" data-easing="easeOutExpo"><div class="display_text_center">Assister es</div></div> -->
                                
							<!-- 	<div class="caption lft large_text_two"  data-x="0" data-y="185" data-speed="900" data-start="1300" data-easing="easeOutExpo"><div class="display_text_center">tan fácil como...</div></div> -->

                                
                               
							</li>
                                                            	
						</ul>
                        
					</div>
                    
				</div>

	</div><!-- end slider -->

</div><!-- end home -->


<div class="parallax_sec1">

    <div class="container">
    
        <h1>Dejanos tu email</h1>
        <h3>y podras probar nuestra version beta gratuita</h3>
        
        
        <div class="clearfix mar_top3"></div>
        
        <!-- <a href="#" class="but_transp">Registrate ya!</a> -->
        <div class="col-md-4 col-md-offset-4" id="doctor-invitation-container">
            <input type="email" class="form-control" id="doctor-invitation-input" placeholder="Enter email">

            <button type="button" class="btn btn-blue btn-dr-invitation" id="doctor-invitation-button">Enviar</button>
        </div>

        <div id="doctor-invitation-thanks" class="hidden">
            <h3>Gracias por apuntar-te!</h3>
            <h5>Recibirás un email de invitación en breve, tu tranquilidad esta un pasito mas cerca!</h5>
        </div>
        
    </div>

</div>




<div class="features_sec02">
	<div class="clearfix mar_top6"></div>

	<div class="container">
    
    	<h1>Bienvenido a tu nuevo <strong>Calendario</strong>
        <br />
        <i>La manera más sencilla para que tus clientes te pidan cita online</b></i>
        </h1>
        
        <div class="one_third">
        
        	<i class="fa fa-calendar fa-4x"></i>
            
            <h3>Citas online</h3>
            
            <br />
            
            <p>Olvidate del teléfono, <br> tus citas vacantes al alcance de tu cliente. <br> Él elige, tu sólo confirmas</p>
        
        </div><!-- end section -->
        
        <div class="one_third">
        
        	<i class="fa fa-clock-o fa-4x"></i>
            
            <h3>Recordatorios automáticos</h3>
            
            <br />
            
            <p>Emails recordatorios <br> a tus clientes un día antes de la cita</p>
        
        </div><!-- end section -->
        
        <div class="one_third last">
        
        	<i class="fa fa-cloud fa-4x"></i>
            
            <h3>Calendario en la nube</h3>
            
            <br />
            
            <p>Accede a tu calendario desde cualquier dispositivo, en cualquier lugar</p>
        
        </div><!-- end section -->
        
    
    </div>

	<div class="clearfix mar_top6"></div>
</div><!-- end features section 2 -->

<div class="clearfix mar_top6"></div>

<div class="our_team">

	<div class="container">
    
    	<h1>Nuestros Clientes
        <br />
        <i>Tanta gente satisfecha no puede estar equivocada</i>
        </h1>
        
        <div class="one_fourth">
        
        	<img src="assets/img_home_template/user_1.jpg" alt="" />
            
            <h4>Lucia Marín <em>- Dentista</em></h4>
            <div class="clearfix mar_top2"></div>
            <p>Tengo Assister desde hace tres días <br> y medio, pero me han obligado <br>a escribir aqui</p>
        
        </div><!-- end section -->
        
        <div class="one_fourth">
        
        	<img src="assets/img_home_template/user_2.jpg" alt="" />
            
            <h4>Fernando Balcells <em>- Ostópata</em></h4>
            <div class="clearfix mar_top2"></div>
            <p>¿Me podeís pasar el numero de <br>la chica de la izquierda?</p>
        
        </div><!-- end section -->
        
        <div class="one_fourth">
        
        	<img src="assets/img_home_template/user_3.jpg" alt="" />
            
            <h4>José García <em>- Fisioterapeuta</em></h4>
            <div class="clearfix mar_top2"></div>
            <p>Pero es gratis, ¿no?</p>
        
        </div><!-- end section -->
        
        <div class="one_fourth last">
        
        	<img src="assets/img_home_template/user_4.jpg" alt="" />
            
            <h4>Lucía Olivos <em>- Medico</em></h4>
            <div class="clearfix mar_top2"></div>
            <p>Yo soy la madre del cofundador de Assister</p>
        
        </div><!-- end section -->
        
    </div>

</div><!-- end our team -->

</div><!-- end about -->




<div class="clearfix"></div>


<div id="services">
    <div class="services-assister">
        

    <div class="four_col_fusection container">

        <div class="clearfix mar_top7"></div>

            <h1>Ahora en serio, <strong>Assister</strong> vale la pena
            <br />
            <i>No haríamos bromas si no estuvieramos muy seguros que tenemos un gran producto que te facilitará la vida</i>
            </h1>

        <div class="one_fourth">
            
            <i class="fa fa-clock-o fa-4x"></i>
            
            <h2>Gana Tiempo</h2>
            
            <p>Tus clientes ya no necesitan llamarte, olvídate de las llamadas pérdidas cada vez que mires el telefono</p>
            <br />
        
        </div><!-- end section -->
        
        <div class="one_fourth">
            
            <i class="fa fa-money fa-4x"></i>
            
            <h2>Gana Dinero</h2>
            
            <p>Recibe un recordatorio de la cita un día antes, no se les olvidara la cita que escogieron una semana antes</p>
            <br />
        
        </div><!-- end section -->
        
        <div class="one_fourth">
            
            <i class="fa fa-star fa-4x"></i>
            
            <h2>Gana Servicios</h2>
            
            <p>Ofrece citas por internet, nadie lo hace, seras el primero de tus amigos</p>
            <br />
        
        </div><!-- end section -->
        
        <div class="one_fourth last">
            
            <i class="fa fa-smile-o fa-4x"></i>
            
            <h2>Gana Presencia</h2>
            
            <p>Tendras una página web propia, con tus datos de contacto, tus servicios y lo que se te ocurra</p>
            <br />
        
        </div><!-- end section -->

    <div class="clearfix mar_top7"></div>
    </div>

</div><!-- end 4 sections -->

<div class="clearfix divider_line"></div>


<div class="services_slider_sec">
     
    <div class="container">

        <div class = 'fluidHeight'>
            
            <div class = 'sliderContainer'>
            
                <div class = 'iosSlider'>
                
                    <div class = 'slider'>
                        
                        <div class = 'item item1'>
                            <div class = 'inner'>
                           	
                            	<div class="slide_one">
                                	
                                    <div class="one_half left"><img src="assets/img_home_template/pas_1.png" alt="" /></div><!-- end section -->
                                    
                                    <div class="right">
                                    
                                        
                                        <h2>Horas de Oficina</h2>
                                        
                                        <p>Selecciona el horario en el que tus clientes pueden pedirte cita.</p>

                                        <p>Es muy fácil y puedes copiar ese mismo rango horario en días posteriores con un sólo clic.</p>								
                                        <ul>
                                        
                                        	<li><i class="fa fa-check"></i>Dirígete a la pestaña "Horas de oficina"</li>
                                            
                                            <li><i class="fa fa-check"></i>Haz click en el dia y la hora que quieras</li>
                                            
                                            <li><i class="fa fa-check"></i>Define la hora de inicio y la hora final</li>
                                            
                                            <li><i class="fa fa-check"></i>Duplica en días posteriores</li>    
                                        
                                        </ul>
                                    
                                    </div>
                                    
                                </div> 
                           
                            
                            </div>
                        </div>
                        
                        <div class = 'item item2'>
                            <div class = 'inner'>
                            
                            	<div class="slide_two">
                                 
                                    <div class="one_half left"><img src="assets/img_home_template/pas_2.png" alt="" /></div><!-- end section -->

                                    <div class="right">
                                        
                                        <h2>Tu Calendario</h2>
                                        
                                        <p>Añade todas las horas que tengas reservadas para tus clientes. Así como las horas que te seguirán llegando por teléfono y otros medios.</p>

                                        <p>De esta manera ninca podrás tener una hora duplicada porque el calendario sólo ofrecerá las horas que tengas disponibles y a su vez libres.</p>

                                        <ul>
                                        
                                            <li><i class="fa fa-check"></i>Tu calendario en la nube</li>
                                            
                                            <li><i class="fa fa-check"></i>Crea tu mismo la citas recibidas por otros medios</li>
                                            
                                            <li><i class="fa fa-check"></i>Envia avisos automáticos al cambiar una cita</li>
                                                                                    
                                        </ul>
                                    
                                    </div>
                                        
                            
                                </div>
                            
                            </div>
                        </div>
                        
                        <div class = 'item item3'>
                            <div class = 'inner'>
                            
                            	<div class="slide_three">
                                	
                                    <div class="one_half left"><img src="assets/img_home_template/pas_3.png" alt="" /></div><!-- end section -->
                                                                    
                                    <div class="right">
                                                                            
                                        <h2>Servicios</h2>
                                        
                                        <p>Crea los servicios que estarán a disposición de los pacientes. Si ofreces solamente uno es perfecto, si ofreces más no hay problema.</p>

                                        <p>Lo más importante es la duración del servicio, porque Assisster calculará las horas que se pueden ofrecer al cliente para que nunca haya problemas de duplicidad ni similares.</p>
                                    
                                        <ul>
                                        
                                        	<li><i class="fa fa-check"></i>Añade título y descripción del servicio</li>
                                                                                        
                                            <li><i class="fa fa-check"></i> Fija la duración</li>
                                            
                                            <li><i class="fa fa-check"></i>Opcional: Añade el precio</li>    
                                        
                                        </ul>
                                    
                                    </div><!-- end section --> 
                                    
                                </div>
                            
                            </div>
                        </div>
                        
                        <div class = 'item item4'>
                            <div class = 'inner'>
                            	
                                <div class="slide_four">
                                
                            	   <div class="one_half left"><img src="assets/img_home_template/pas_4.png" alt="" /></div><!-- end section -->
                                                                    
                                    <div class="right">
                                                                            
                                        <h2>Confirmación</h2>
                                        
                                        <p>Ahora queda lo mejor, esperar a que tus clientes te pidan una cita y aparezca en tu Dashboard.</p>

                                        <p>Puedes confirmarla si todo es correcto o cancelarla si te ha surgido algún imprevisto y no puedes atenderla. Por supuesto, Assisster se encargará de enviar-le un email de cancelación.</p>
                                    
                                        <ul>
                                        
                                            <li><i class="fa fa-check"></i>Confirma cita, envía el email de confirmación</li>
                                            
                                            <li><i class="fa fa-check"></i>Cancela la cita, envía el email de cancelación</li>
                                                                                    
                                        </ul>
                                    
                                    </div><!-- end section --> 
                                
                                </div>
                            
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
                
                <div class = 'slideSelectors'>
                
                <div class="container">
                
                    <div class = 'item selected'>
                        <ul class="iosslider-item-list">
                            <li>Primer paso</li>
                        </ul>
                    </div>
                    
                    <div class = 'item'>
                        <ul class="iosslider-item-list">
                            <li>Segundo paso</li>
                        </ul>
                    </div>
                    
                    <div class = 'item'>
                        <ul class="iosslider-item-list">
                            <li>Tercer paso</li>
                        </ul>
                    </div>
                    
                    <div class = 'item'>
                        <ul class="iosslider-item-list last">
                            <li>Cuarto paso</li>
                        </ul>   
                    </div>
                    
                </div>
                
                </div>
                
            </div>
            
        </div>
    
    </div>
    
</div><!-- end inner slider -->





<div class="clearfix"></div>



<div id="contact">

<div class="contact_info">

	<div class="container">
    
    	<div class="one_half">
        
        	<h1>Ponte en contacto con nostros
            <i>Si lo prefieres puedes contactar con nosotros en alugno de los siguientes medios.</i>
            </h1>
            
            <div class="clearfix"></div>
            
            <div class="one_full">
            
            	<div class="one_half">
                
					<ul class="address">
                    
                    	<li><i class="fa fa-map-marker fa-lg"></i> MOB (Makers of Barcelona) Calle Bailén, 11 08010 Barcelona</li>
                        
                        <li class="last"><i class="fa fa-envelope"></i> <a href="mailto:llorenc@assisster.com">llorenc@assisster.com</a></li>
                        
                        <li><i class="fa fa-phone"></i> +34 627 781 441</li>
                                            
                    </ul>
                
                </div>
                
            
            </div>
        
        </div><!-- end section -->
        
        
        <div class="one_half last">
        
        	<div class="one_half last">
            
                <div class="map">
                
                    <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.1854864371107!2d2.177281000000004!3d41.39177800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x23eae95904a55703!2sMakers+of+Barcelona!5e0!3m2!1sca!2ses!4v1432452228148"></iframe><br /><mediun><a href="https://www.google.es/maps/place/Makers+of+Barcelona/@41.391778,2.177281,17z/data=!4m3!3m2!1s0x0000000000000000:0x23eae95904a55703!4b1?hl=ca" target="_blank">View Larger Map</a></mediun>
                
                </div>
            
            </div>
        
        </div>
         
    </div>

</div>


<div class="copyright_info">

	Copyright © 2015 assisster.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>      
    
</div><!-- end copyright info -->


</div><!-- end contact -->

<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->


</div>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis 
<script type="text/javascript" src="js/universal/jquery.js"></script>
-->
<%= javascript_include_tag "js_home_template/portfolio/lib/jquery-1.9.0.min.js" %>
<%= javascript_include_tag "js_home_template/portfolio/source/jquery.fancybox.js" %>
<%= javascript_include_tag "js_home_template/portfolio/source/helpers/jquery.fancybox-media.js" %>
<%= javascript_include_tag "js_home_template/portfolio/jquery.isotope.js" %>
<%= javascript_include_tag "js_home_template/iosslider/_src/jquery.iosslider.js" %>
<%= javascript_include_tag "js_home_template/iosslider/_lib/jquery.easing-1.3.js" %>
<%= javascript_include_tag "js_home_template/iosslider/_src/custom.js" %>
<%= javascript_include_tag "js_home_template/jquery.scrollto.min.js" %>
<%= javascript_include_tag "js_home_template/jquery.nav.js" %>
<%= javascript_include_tag "js_home_template/main.js" %>

<%= javascript_include_tag "js_home_template/mainmenu/jquery-1.7.1.min.js" %>
<%= javascript_include_tag "js_home_template/jcarousel/jquery.jcarousel.min.js" %>
<%= javascript_include_tag "js_home_template/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js" %>

<%= javascript_include_tag "js_home_template/sticky-menu/core.js" %>


<!-- fancyBox 
<script type="text/javascript" src="js/portfolio/lib/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/portfolio/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/portfolio/source/helpers/jquery.fancybox-media.js"></script>
-->
<!-- isotope 
<script src="js/portfolio/jquery.isotope.js" type="text/javascript"></script>
-->
<!-- iosSlider plugin 
<script src = "js/iosslider/_src/jquery.iosslider.js"></script>
<script src = "js/iosslider/_lib/jquery.easing-1.3.js"></script>
<script src = "js/iosslider/_src/custom.js"></script>
-->
<!-- scrollto 
<script src="js/jquery.scrollto.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/main.js"></script>
-->
<!-- isotope -->
<script type="text/javascript">
$(window).load(function(){
    var $container = $('.portfolioContainer');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    }); 
});
</script>

<!-- main menu
<script type="text/javascript" src="js/mainmenu/jquery-1.7.1.min.js"></script>
-->

<!-- jquery jcarousel
<script type="text/javascript" src="js/jcarousel/jquery.jcarousel.min.js"></script>
-->
<!-- REVOLUTION SLIDER
<script type="text/javascript" src="js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
-->
<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- tweets -->
<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
$(".controlls li a").click(function(e) {
    e.preventDefault();
    var id = $(this).attr('class');
    $('#slider div:visible').fadeOut(500, function() {
        $('div#' + id).fadeIn();
    })
});
});//]]>  

</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript">

	var tpj=jQuery;
	tpj.noConflict();

	tpj(document).ready(function() {

	if (tpj.fn.cssOriginal!=undefined)
		tpj.fn.css = tpj.fn.cssOriginal;

		var api = tpj('.fullwidthbanner').revolution(
			{
				delay:9000,
				startwidth:1170,
				startheight:580,

				onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

				thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
				thumbHeight:50,
				thumbAmount:3,

				hideThumbs:200,
				navigationType:"none",				// bullet, thumb, none
				navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none

				navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


				navigationHAlign:"center",				// Vertical Align top,center,bottom
				navigationVAlign:"bottom",					// Horizontal Align left,center,right
				navigationHOffset:30,
				navigationVOffset:-40,

				soloArrowLeftHalign:"left",
				soloArrowLeftValign:"center",
				soloArrowLeftHOffset:0,
				soloArrowLeftVOffset:0,

				soloArrowRightHalign:"right",
				soloArrowRightValign:"center",
				soloArrowRightHOffset:0,
				soloArrowRightVOffset:0,

				touchenabled:"on",						// Enable Swipe Function : on/off


				stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
				stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

				hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
				hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
				hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


				fullWidth:"on",

				shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

			});

});



</script>
<!--
<script type="text/javascript" src="js/sticky-menu/core.js"></script>
-->
<!-- fancyBox -->
<script type="text/javascript">
    $(document).ready(function() {
        /* Simple image gallery. Uses default settings */
        $('.fancybox').fancybox();

        /* media effects*/  
        $(document).ready(function() {
            $('.fancybox-media').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {}
                }
            });
        });

    });
</script>

<!-- Doctor Invitation Input and button Feature -->

<script type="text/javascript">
    $(document).ready(function() {

        $("#doctor-invitation-button").on("click", get_email_and_create_invit);

    });

    function get_email_and_create_invit () {
        var invitation_email = $("#doctor-invitation-input").val();
        create_invitation(invitation_email);
    };

    function create_invitation(email) {
        var params = {
            doctor_invitation: {
                email: email
            }
        }

        $.ajax({
            method: "POST",
            data: params,
            url: "/api/doctor_invitations",
            success: function () {
                say_thanks();
            }
        })
    };

    function say_thanks() {
        $("#doctor-invitation-container").addClass("hidden");
        $("#doctor-invitation-thanks").removeClass("hidden");
    };
</script>