<% if signed_in? %>
  <%= render "helpers/doctor_header" %>
<% else %>
  <%= render "helpers/sign_in_header" %>
<% end %>

<%= render "helpers/sign_in_modal" %>

<div class="container wrap">
  <div class="row">
    <div class="home-header col-xs-12">
      <h1 class="text-center home-title"><%= @doctor.name %></h1>
			<h4 class="text-center home-subtitle"><%= @doctor.sub_title.html_safe %></h4>     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3 class="home-title-section">Descripción</h3>
      <div class="dl-horizontal">
        <%= @doctor.description.html_safe %>
			</div>
			<div class="appointment-button-index">
				<a class="btn btn-success" href="/appointment" role="button">
					Pedir Cita
				</a>
			</div>
    </div>
    <div class="col-xs-4">
      <h3 class="home-title-section">Contacto</h3>
      <div id="map-canvas"></div>
      <address>
        <strong><%= @doctor.name %></strong><br>
        <%= @doctor.street_address %><br>
        <%= @doctor.city_address %><br>
        <abbr title="Phone">Phone:</abbr> <%= @doctor.phone_number %>
      </address>

      <address>
        <strong>Email</strong><br>
        <a href="mailto:#"><%= @doctor.email %></a>
      </address>
    </div>    
  </div>
</div>

<%= render "helpers/footer" %>

<script type="text/javascript">
	function init_map(){
		var myOptions = {
			zoom:14,
			center: new google.maps.LatLng(<%= @doctor.latitude %>,<%= @doctor.longitude %>),
			mapTypeId: google.maps.MapTypeId.ROADMAP};
			map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
			marker = new google.maps.Marker({ 
				map: map,
				position: new google.maps.LatLng(<%= @doctor.latitude %>,<%= @doctor.longitude %>)
			});
			infowindow = new google.maps.InfoWindow({ 
				content:"<b><%= @doctor.name %></b>"
			});
			google.maps.event.addListener(marker, "click", function() {
				infowindow.open(map,marker);
			});
			infowindow.open(map,marker);
		}
	google.maps.event.addDomListener(window, 'load', init_map);
</script>
