<%= render "helpers/doctor_header" %>

<div class="container wrap" id="doctor-settings">

	<%= render "helpers/doctor_settings_title", page: "web_settings" %>

	<div class="dashboard-body">
		<div class="row settings-container">
			<form role="form" id="edit-doctor-profile" action="/doctors-web/<%= current_doctor.id %>" method="POST">
				<div class="col-xs-6">
					<h3 class="send-form-title">Personaliza tu web</h3>

					<input type="hidden"
							name="authenticity_token"
							value="<%= form_authenticity_token %>">

					<input type="hidden" name="_method" value="PATCH">

					<div class="form-inputs">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group doctor-email">
									<label>Título</label>
									<input type="text"
										   name="doctor[name]"
										   class="form-control input-sm"
										   value="<%= current_doctor.name %>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label>Subtítulo</label>
									<input type="text"
										   name="doctor[sub_title]"
										   class="form-control input-sm"
										   value="<%= current_doctor.sub_title %>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label>Descripcion</label>
									<textarea name="doctor[description]"
											  id="doctor-web-description"
											  class="form-control input-sm doctor-web-description"><%= current_doctor.description %></textarea>
								</div>
							</div>
						</div>

					</div>

					<input type="hidden"
							name="doctor[longitude]"
							id="doctor-latitude"
							value="<%= current_doctor.longitude %>">
					<input type="hidden"
							name="doctor[latitude]"
							id="doctor-longitude"
							value="<%= current_doctor.latitude %>">

					<input type="submit"
							id="edit-web-doctor"
							class="btn btn-default"
							value="Actualizar">
					</input>
				</div>
				<div class="col-xs-6 address-settings-container">
					<h5>Dirección</h5>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<input type="text"
									   name="doctor[street_address]"
									   class="form-control input-sm"
									   value="<%= current_doctor.street_address %>">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<input type="text"
									   name="doctor[city_address]"
									   class="form-control input-sm"
									   value="<%= current_doctor.city_address %>">
							</div>
						</div>
					</div>
					<div class="row form-group">
					  <div class="col-xs-12">
					    <div class="input-group">
					    	<form>
					      <input type="text"
					      		 class="form-control input-sm"
					      		 id="doctor-address"
					      		 placeholder="Direccion">
					      <span class="input-group-btn">
					        <button class="btn btn-default btn-sm" id="search-address" type="button">Buscar</button>
					      </span>
					  	</form>
					    </div>
					  </div>
					</div>
					<div id="map-canvas-settings"></div>
				</div>
			</form>
		</div>
	</div>
</div>

<%= render "helpers/footer" %>

<script type="text/javascript">
	$(window).keydown( function(event) {
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	});

	var geocoder;
	var map;
	$(function () {
		$("textarea.doctor-web-description").wysihtml5({
		  toolbar: {
		  	"fa": true,
		    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
		    "emphasis": true, //Italics, bold, etc. Default true
		    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		    "html": false, //Button which allows you to edit the generated HTML. Default false
		    "link": true, //Button to insert a link. Default true
		    "image": false, //Button to insert an image. Default true,
		    "color": false, //Button to change color of font  
		    "blockquote": false, //Blockquote  
		    "size": "sm" //default: none, other options are xs, sm, lg
		  }
		});
		$("#search-address").on("click", search_address);
	});

	function search_address(event) {
		event.preventDefault();
		var address = $("#doctor-address").val();
	    geocoder.geocode( { 'address': address }, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
	        map.setZoom(15);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	        $("#doctor-longitude").val(results[0].geometry.location.k);
	        $("#doctor-latitude").val(results[0].geometry.location.D);
	      } else {
	        alert("Geocode was not successful for the following reason: " + status);
	      }
	    });
	    $("#search-address").blur();
	};

	function init_map(){
		geocoder = new google.maps.Geocoder();
		var myOptions = {
			zoom:14,
			center: new google.maps.LatLng(<%= current_doctor.latitude %>, <%= current_doctor.longitude %>),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map-canvas-settings"), myOptions);
		var marker = new google.maps.Marker({ 
			map: map,
			position: new google.maps.LatLng(<%= current_doctor.latitude %>, <%= current_doctor.longitude %>)
		});
		var infowindow = new google.maps.InfoWindow({ 
			content:"<b><%= current_doctor.name %></b>"
		});
		google.maps.event.addListener(marker, "click", function() {
			infowindow.open(map,marker);
		});
		infowindow.open(map,marker);
	};
	google.maps.event.addDomListener(window, 'load', init_map);
</script>