<%= render "helpers/doctor_header" %>

<div class="container wrap" id="doctor-settings">

	<%= render "helpers/doctor_settings_title", page: "web_settings" %>

	<div class="dashboard-body">
		<div class="row settings-container">
			<div class="col-xs-8">
				<h3 class="send-form-title">Personaliza tu web</h3>

				<form role="form" id="edit-doctor-profile" action="/doctors-web/<%= current_doctor.id %>" method="POST">

					<input type="hidden"
							name="authenticity_token"
							value="<%= form_authenticity_token %>">

					<input type="hidden" name="_method" value="PATCH">

					<div class="form-inputs">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group doctor-email">
									<label>Título</label>
									<input type="text"
										   name="doctor[name]"
										   class="form-control input-sm"
										   value="<%= current_doctor.name %>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label>Subtítulo</label>
									<input type="text"
										   name="doctor[sub_title]"
										   class="form-control input-sm"
										   value="<%= current_doctor.sub_title %>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-9">
								<div class="form-group">
									<label>Descripcion</label>
									<textarea name="doctor[description]"
											  id="doctor-web-description"
											  class="form-control input-sm doctor-web-description"><%= current_doctor.description %></textarea>
								</div>
							</div>
						</div>

					</div>

					<input type="submit"
							id="edit-web-doctor"
							class="btn btn-default"
							value="Actualizar">
					</input>

				</form>
			</div>
		</div>
	</div>
</div>

<%= render "helpers/footer" %>

<script>
	$(function () {
		$("textarea.doctor-web-description").wysihtml5({
		  toolbar: {
		  	"fa": true,
		    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
		    "emphasis": true, //Italics, bold, etc. Default true
		    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		    "html": false, //Button which allows you to edit the generated HTML. Default false
		    "link": true, //Button to insert a link. Default true
		    "image": false, //Button to insert an image. Default true,
		    "color": false, //Button to change color of font  
		    "blockquote": false, //Blockquote  
		    "size": "sm" //default: none, other options are xs, sm, lg
		  }
		});
	});
</script>