<h4>Elegir Servicio</h4>
<ul class="services">
	<% services.each(function (service) { %>
		<li>
			<div class="service-content row">
				<div class="service-title col-xs-2">
					<a class="btn btn-default service-button"
						 href="#<%= service.id %>"
						 role="button">
						 <%= service.escape('title') %>
					</a>
				</div>
				<div class="service-description col-xs-9">
					<% if (service.get('price')) { %>
						<span class="additional-info price">Precio: <%= service.escape('price') %> euros</span>
					<% } %>
					<span class="additional-info">Duración: <%= service.escape('duration_min') %> min</span>
					<h5>Descripción:</h5>
					<p><%= service.escape('description') %></p>
				</div>
			</div>
		</li>
	<% }) %>
</ul>