<h4>Elegir Servicio</h4>
<ul class="services">
	<% services.each(function (service) { %>
		<li>
			<div class="service-content row">
				<div class="service-title col-xs-2">
					<a class="btn btn-default service-button"
						 href="#<%= service.id %>"
						 role="button">
						 <%= service.escape('title') %>
					</a>
				</div>
				<div class="service-description col-xs-9 row">
					<div class="col-xs-9">
						<h5>Descripción:</h5>
						<p><%= service.escape('description') %></p>
					</div>
					<div class="col-xs-3">
						<p class="additional-info duration">Duración: <%= service.escape('duration_min') %> min</p>
						<% if (service.get('price')) { %>
							<p class="additional-info">Precio: <%= service.escape('price') %> euros</p>
						<% } %>
					</div>
				</div>
			</div>
		</li>
	<% }) %>
</ul>