<h4>Confirmar cita para:</h4>
<h5>
	<%= appointment.get('startTime').format('dddd, D MMMM') %>
</h5>
<h5>
	Desde: <%= appointment.get('startTime').format('h:mm') %>, hasta: <%= appointment.get('endTime').format('h:mm') %>
</h5>
<div class="errors">
</div>
<form role="form">
	<div class="form-inputs">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<input type="email" name="appointment[email]" class="form-control input-sm" placeholder="Email">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9">
				<div class="form-group">
					<select class="form-control input-sm" name="appointment[countrycode]">
						 <% window.phoneCodes.forEach( function (phoneCode) { %>
							 <% if ( phoneCode[0] === window.Doctor.country_code ) { %>
								 <%= "<option value='" + phoneCode[0]+ "' selected>" + phoneCode[1] + "</option>" %>
							 <% } else { %>
								 <%= "<option value=" + phoneCode[0]+ ">" + phoneCode[1] + "</option>" %>
							 <% } %>
						 <% }) %>
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<input type="text" name="appointment[phoneNumber]" class="form-control input-sm" placeholder="Teléfono para recibir confirmación">
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-xs-6 col-sm-12 col-md-6">
				<div class="form-group">
					<input type="text" name="appointment[fname]" class="form-control input-sm" placeholder="Nombre">
				</div>
			</div>
			<div class="col-xs-6 col-sm-12 col-md-6">
				<div class="form-group">
					<input type="text" name="appointment[lname]" class="form-control input-sm" placeholder="Apellido">
				</div>
			</div>
		</div>				
	</div>

	<button type="submit"
					disabled
					class="btn btn-success">
					Confirmar
	</button>
</form>
